#wrapper {
  border:1px solid lightgray;
  height:100%;
  width:80%;
  margin:auto;
  
}
#content {
  color: black;
  height:100%;
  width:75%;
  float:left;
  background-color: white;
  overflow: hidden;
}
#sidebar {

padding:3px;
  color:black;
  height:99%;
  width:22%;
  float:right;
   background-color: gray;
   overflow:hidden;
   word-spacing: 2px
   letter-spacing: 2px;
 }
 #nav {

  background-color:black;
 }
#header {
  padding:5px;
  color:black;
  background-color: lightgray;
  clear: left;
  text-align: left;
}
/*body{

  height: 70%;
  width:70%;
  color:#eee;
}*/
p {
  padding: 10px;
}
content {  
  margin-left: 50px;
border-left: 1px solid gray;
padding: 1em;
overflow: hidden
} 
ul {
  list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

li {
float:left; 
}

li a {
text-decoration :none;
display: block;
padding: 8px;
border:1px solid white;
color:white;/*background-color: black;*/
}
li a.active{
            background-color: green;
            color:white;
            }

#footer-text {
 padding: 1em;
  color: black;
  background-color: lightgray;
  clear: left;
  text-align: right;
}

p {
  letter-spacing: 2px;
  text-align: justify;
 }
 #chead{
  color:purple;
 }