#wrapper {
  border: 1px solid lightgray;
    height: 500px;
    margin: 100px 380px; 
    overflow: hidden;
    width: 611px;

  
}
#content {
    background-color: white;
    color: black;
    float: left;
    height: 330px;
    margin: 0px;
    overflow: hidden;
    width: 65%;
}
#sidebar {
    background-color: #E0E0E0;
    color: black;
    float: right;
    height: 324px;
    overflow: hidden;
    padding: 3px;
    width: 34%;
    z-index: 0;
}


 #nav {

  background-color:black;
 }
#header {
  padding:5px;
  color:black;
  background-color: lightgray;
  clear: left;
  text-align: left;
}

p {
    font-size: 10px;
    letter-spacing: 2px;
    text-align: justify;
    padding: 3px;
  }

ul {
  list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

li {
float:left; 
}

li a {
text-decoration :none;
display: block;
padding: 8px;
border:1px solid white;
color:white;/*background-color: black;*/
}
li a.active{
            background-color: green;
            color:white;
            }
li:hover{
  background-color:green;
}


#footer-text {
    background-color: lightgray;
    clear: left;
    color: black;
    margin: 0;
    padding: 1em;
    text-align: right;
    
}
 #chead {
    color: #003D5D;
    margin: 0px;
}
 